@import '../partials/variables';
@import '../partials/fonts';
@import '../partials/mixins';

body{
    background-color:$light-grey ;
}
.home{ 
    @include sideSpecs; 
    &__card{
        height: 1575px;
        width: 91.45;
        border-radius: 3px;
        position: relative;
        bottom: 5rem;
        background: $white;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 3px;
    }

    &__header-items{
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        @include tablet{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__button{
        @include buttonSpecs;
        background: $instock-indigo;
        border: 0px solid$instock-indigo;
        text-align: center;
        padding: 0.5rem 4.5rem;
        border-radius: 20px;
        @include buttons;
        color: $white;
        @include tablet{
            padding: 0.5rem 1rem ;
        }
    }

}